<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home | Gestão de Processo Clínico</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-panel w3-pale-blue">
        <center><h3>Home</h3></center>
    </div>
    <br/>
    <br/>
    <br/>
    <center>
    <div class="w3-bar-block w3-white">
        <br/>
        <h3><a style="text-align:center" href="/hospital" class="w3-bar-item">Login como Utilizador</a></h3>
        <br/>
        <br/>
        <h3><a style="text-align:center" href="/admin" class="w3-bar-item">Login como Admin</a></h3>
    </div>
    </center>
</body>
</html>