<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Menu Utente | Gestão de Processo Clínico</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
 {% for group in user.groups.all %}
    {% if group.name == 'Utentes'  %}
        <body>
        <div class="w3-panel w3-red">
          <h3>Menu Utente</h3>
        </div>
        <ul>
            <p><b>Selecione a opção pretendida.</b></p>
            <div class="w3-bar-block w3-white">
                <a href="menuutente/info_utente" class="w3-bar-item w3-button">Consultar Ficha Médica</a>
            </div>
            <br/>
            <br/>
            <p><a href="/hospital/logout">Fazer logout</a></p>
        </ul>
        </body>
    {% else %}
        <body>
            <div class="w3-panel w3-green">
                <h3>Não tem acesso a esta página.</h3>
            </div>
            <br/>
            <a href="/hospital/logout" class="w3-bar-item w3-button w3-light-grey">Logout e redirecionamento para login</a>
        </body>
    {% endif %}
{% endfor %}
</html>